<% title "About Us" %>

<% content_for :head_top do %>
	<meta charset="UTF-8">
	<meta name="description" content="Learn more about the Hungarian Lacrosse Association, our history, and the history of lacrosse in Hungary">
	<meta name="keywords" content="About, History, Lacrosse">
<% end %>
<% content_for :head_end do %>
<% end %>
<% content_for :body_top do %>
<% end %>
<% content_for :body_end do %>
<% end %>

<div class="container" id="association">
	<div class="jumbotron center" id="about">
		<h2 class="section-title">About Us</h2>
		<p>The Hungarian Lacrosse Association is the national governing body for lacrosse in Hungary.  Our goal is to grow and develop lacrosse, in all its forms, in Hungary by providing programs that ensure opportunities exist for individuals to participate and excel in the sport of lacrosse.</p>
	</div>
	<div class="jumbotron" id="history">
		<h2 class="section-title">History</h2>
		<h3>History of Lacrosse</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et nunc ut nulla mattis commodo. Nulla in sem libero. Fusce sit amet purus libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque nec arcu consequat, euismod dui vitae, euismod tellus. Aenean velit odio, ultrices ut sodales sed, viverra nec nibh. Morbi a scelerisque mi. Pellentesque ante eros, convallis nec placerat non, luctus et lorem. Maecenas finibus elementum lorem, eget posuere metus tincidunt in. Praesent dignissim ipsum eros, sit amet tempor lorem interdum sit amet.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et nunc ut nulla mattis commodo. Nulla in sem libero. Fusce sit amet purus libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque nec arcu consequat, euismod dui vitae, euismod tellus. Aenean velit odio, ultrices ut sodales sed, viverra nec nibh. Morbi a scelerisque mi. Pellentesque ante eros, convallis nec placerat non, luctus et lorem. Maecenas finibus elementum lorem, eget posuere metus tincidunt in. Praesent dignissim ipsum eros, sit amet tempor lorem interdum sit amet.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et nunc ut nulla mattis commodo. Nulla in sem libero. Fusce sit amet purus libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque nec arcu consequat, euismod dui vitae, euismod tellus. Aenean velit odio, ultrices ut sodales sed, viverra nec nibh. Morbi a scelerisque mi. Pellentesque ante eros, convallis nec placerat non, luctus et lorem. Maecenas finibus elementum lorem, eget posuere metus tincidunt in. Praesent dignissim ipsum eros, sit amet tempor lorem interdum sit amet.</p>	
		<h3>Lacrosse in Hungary</h3>
		<p>The first appearance of lacrosse in Hungary was at Szombathely in 2002 in the form of an inter-cross team.</p>
		<p>The next step was the broadcasting of the matches of the National Lacrosse League by Eurosport 2 TV network. This gave us the idea to launch lacrosse in Hungary, similarly to other American sports such as baseball and american football.
		The first Hungarian lacrosse club, the Budapest BLAX was founed on March the 16th, 2008.</p>
		<p>Training started in April 2008 under the guidence of Marten Jäger and on May the 3rd Mr Peter J. Mundy, president of the  European Lacrosse Federationand Mr Amit, well-known trainer from London held a clinic in Budapest. Beside teaching the theory, they also taugh training techniques, thus began the sport’s development in Hungary.</p>
		<p>On November the 16th 2008, Hungary had its first international game against the Bratislava Bats.</p>
		<p>In the 2009 season, the Budapest Team played in the Austrian Lacrosse League and finished sixth.</p>
		<p>The womens’ team of Budapest BLAX was formed in March 2010, now playing under the name of Budapest Blackberries.</p>
		<p>In 2011, the Budapest BLAX finished 2nd in the Austrian Lacrosse League, only being defeated by the Vienna Monarchs, who’s roster is almost identicaly to the Austrian National Team’s.</p>
		<p>2015 brought the first international success: Budapest Blax won the first season of the freshly formed Central European Lacrosse League.</p>
</p>
	</div>	
	<div class="jumbotron center" id="board">
		<div class="row">
			<h2 class="section-title">Executive Board</h2>
			<table class="table table-condensed">
				<tr>
					<th>Position</th>
					<th>Name</th>
					<th>E-mail</th>
				</tr>
				<tr>
					<td>President</td>
					<td>George Rohonczy</td>
					<td>george@lacrosse.hu</td>
				</tr>
				<tr>
					<td>Vice-President</td>
					<td>David Urban</td>
					<td>david@lacrosse.hu</td>
				</tr>
				<tr>
					<td>Treasurer</td>
					<td>Brad Jones</td>
					<td>brad@lacrosse.hu</td>
				</tr>
				<tr>
					<td>Secretary</td>
					<td>Carl Starkey</td>
					<td>carl@lacrosse.hu</td>
				</tr>
			</table>		
		</div>	
	</div>	
	<div class="jumbotron center" id="media">
		<h2 class="section-title">Media</h2>
	</div>
</div>