<% title "About Us" %>

<% content_for :head_top do %>
	<meta charset="UTF-8">
	<meta name="description" content="Learn more about the Hungarian Lacrosse Association, our history, and the history of lacrosse in Hungary">
	<meta name="keywords" content="About, History, Lacrosse">
<% end %>
<% content_for :head_end do %>
<% end %>
<% content_for :body_top do %>
<% end %>
<% content_for :body_end do %>
<% end %>

<div class="container" id="association">
	<div class="jumbotron center" id="about">
		<h2 class="section-title">About Us</h2>
		<p>The Hungarian Lacrosse Association is the national governing body for lacrosse in Hungary.  Our goal is to grow and develop lacrosse, in all its forms, in Hungary by providing programs that ensure opportunities exist for individuals to participate and excel in the sport of lacrosse.</p>
	</div>
	<div class="jumbotron" id="history">
		<h2 class="section-title">History</h2>
		<h3>History of Lacrosse</h3>
		<p>Lacrosse may have been developed as early as 1100 AD among indigenous peoples on the North American continent. By the seventeenth century, it was well-established. It was documented by Jesuit missionary priests in the territory of present-day Canada. The game has undergone many modifications since that time.</p>
		<p>In the traditional aboriginal Canadian version, each team consisted of about 100 to 1,000 men on a field that stretched from about 500 m (1,600 ft) to 3 km (1.9 mi) long. These games lasted from sunup to sundown for two to three days straight. These games were played as part of ceremonial ritual, a kind of symbolic warfare, to give thanks to the Creator or Master.</p>
		<p>James Smith described in some detail a game being played in 1757 by his fellow tribe members "wherein now they used a wooden ball, about three inches diameter, and the instrument they moved it with was a strong staff about 5 ft (1.5 m) long, with a hoop net on the end of it, large enough to contain the ball."</p>
		<p>The Italian explorer Count Paolo Andreani documented his contacts with the Oneida people in the 1790s and his reports on the Oneida include an illustration which is thought to be the first recorded picture of a lacrosse stick.</p>
		<p>Lacrosse played a significant role in the community and religious life of tribes across the continent for many years. Early lacrosse was characterized by deep spiritual involvement, befitting the spirit of combat in which it was undertaken. Those who took part did so in the role of warriors, with the goal of bringing glory and honor to themselves and their tribes. The game was said to be played "for the Creator" or was referred to as "The Creator's Game."</p>
		<p>The French Jesuit missionary Jean de Brébeuf saw Iroquois tribesmen play the game during 1637 in present-day New York. He was one of the first Europeans to write about the game. He called it la crosse ("the stick"). The name seems to be originated from the French term for field hockey, le jeu de la crosse. A "crosse" in French is any stick curved at its end (Example: Crosse d'evêque - Bishop's crozier)</p>
		<p>In 1855, William George Beers, a Canadian dentist, founded the Montreal Lacrosse Club. In 1867, Beers codified the game, shortening the length of each game and reducing the number of players to 12 per team. The first game played under Beers' rules was at Upper Canada College in 1867; they lost to the Toronto Cricket Club by a score of 3–1. By the 20th century, teams in high schools, colleges, and universities in Canada and the United States began playing the game.</p>
		<p>Lacrosse was contested for medals in the 1904 and 1908 Olympics with teams from Canada, the United States, and Great Britain. It was contested as a demonstration sport in the 1928 and 1932 Olympics. On each occasion, a playoff was held in the United States to determine what team would go to the Olympics; each time the playoffs were won by Johns Hopkins University in Baltimore, Maryland.</p>
		<p>In the United States, lacrosse during the 1900s was primarily a regional sport centered around the east coast, including the states of Connecticut, New Hampshire, Massachusetts, New York, New Jersey, Pennsylvania, Maryland, Virginia, and North Carolina. However, in the last half of the 20th century, the sport has continued growth west of this region, and in since the beginning of the 21st century in Georgia, Tennessee, Florida, Texas, California, Indiana, and Minnesota. According to a report of a survey conducted by US Lacrosse in 2013, Field Lacrosse is one of the fastest growing sports and the fastest growing team sport in NFHS.
		</p>
		<p>At the highest amateur level, it is represented by the collegiate NCAA Division I in the United States. The first collegiate lacrosse program was established by New York University in 1877. Nearly 100 years later, the 1971 tournament was the first Men's Lacrosse Championship sponsored by the National Collegiate Athletic Association (NCAA).</p>
		<p>In other countries, the sport is also played at a high level on the amateur level by the Australian Lacrosse League, the Canadian University Field Lacrosse Association, and club lacrosse leagues internationally.</p>
		<p>In the summer of 2001, a men's professional field lacrosse league, known as Major League Lacrosse (MLL), was inaugurated in the United States. Initially starting with three teams, the MLL has grown to a current total of nine clubs located in major metropolitan areas in the United States. On July 4, 2008, Major League Lacrosse set the professional lacrosse attendance record: 20,116 fans attended a game at Invesco Field in Denver, Colorado.</p>
		<h3>Lacrosse in Hungary</h3>
		<p>The first appearance of lacrosse in Hungary was at Szombathely in 2002 in the form of an inter-cross team.</p>
		<p>The next step was the broadcasting of the matches of the National Lacrosse League by Eurosport 2 TV network. This gave us the idea to launch lacrosse in Hungary, similarly to other American sports such as baseball and american football.
		The first Hungarian lacrosse club, the Budapest BLAX was founed on March the 16th, 2008.</p>
		<p>Training started in April 2008 under the guidence of Marten Jäger and on May the 3rd Mr Peter J. Mundy, president of the  European Lacrosse Federationand Mr Amit, well-known trainer from London held a clinic in Budapest. Beside teaching the theory, they also taugh training techniques, thus began the sport’s development in Hungary.</p>
		<p>On November the 16th 2008, Hungary had its first international game against the Bratislava Bats.</p>
		<p>In the 2009 season, the Budapest Team played in the Austrian Lacrosse League and finished sixth.</p>
		<p>The womens’ team of Budapest BLAX was formed in March 2010, now playing under the name of Budapest Blackberries.</p>
		<p>In 2011, the Budapest BLAX finished 2nd in the Austrian Lacrosse League, only being defeated by the Vienna Monarchs, who’s roster is almost identicaly to the Austrian National Team’s.</p>
		<p>2015 brought the first international success: Budapest Blax won the first season of the freshly formed Central European Lacrosse League.</p>
</p>
	</div>	
	<div class="jumbotron center" id="board">
		<div class="row">
			<h2 class="section-title">Executive Board</h2>
			<table class="table table-condensed">
				<tr>
					<th>Position</th>
					<th>Name</th>
					<th>E-mail</th>
				</tr>
				<tr>
					<td>President</td>
					<td>George Rohonczy</td>
					<td>george@lacrosse.hu</td>
				</tr>
				<tr>
					<td>Vice-President</td>
					<td>David Urban</td>
					<td>david@lacrosse.hu</td>
				</tr>
				<tr>
					<td>Member</td>
					<td>Brad Jones</td>
					<td>brad@lacrosse.hu</td>
				</tr>
			</table>		
		</div>	
	</div>	
	<div class="jumbotron center" id="media">
		<h2 class="section-title">Media</h2>
	</div>
</div>