<div class="container">
	<div class="jumbotron center", id="contact">
		<h2>Contact Us</h2>
		<h3>Want to Join? Interested in a Sponsorship? Drop us a line.</h3>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-lg-6 col-lg-offset-3">
					<%= render 'contacts/new' %>
				</div>	
			</div>	
		</div>	
	</div>
</div>