<div class="container">
	<div class="jumbotron" id="eligibility">
		<h3 class="center"><strong>Eligibility Requirements to play for the Hungarian National Lacrosse Team</strong></h3>
		<p class="center">This eligibility criteria applies to all senior and underage national teams (mens, womens, under-19, and indoors).</p></br>

		<h4><strong>Player-candidates must:</strong></h4>

		<p>1. Register for and participate in a selection camp – details of all selection camps are posted at http://www.lacrosse.hu.</p>

		<p>2. Be willing to participate in fundraising and other activities to continue the development of lacrosse in Hungary.</p>

		<p>3. Meet eligibility requirements as listed below.</p>

		<hr>

		<h3><strong>Eligibility Relating to Dual Passport Holders</strong></h3>

		<p>Any competitor who is a national of two or more countries at the same time and holding passports of these countries may represent either one of them as he/she may elect. However, after having represented one country in a recognized (by the Federation of International Lacrosse) event, he/she may not represent another country unless he/she meets other eligibility conditions set out in the by-laws.</p>

		<h4><strong>Age Limitation</strong></h4>

		<p>The lower limit age that applies to all World Championships and FIL sanctioned events is 16 years of age (men) and 15 years of age (women) as of the day prior to the championship event.</p>

		<h4><strong>Nationality</strong></h4>

		<p>Prime criteria for eligibility is to be a passport holder of Hungary, but the following will also be accepted:</p>

		<p><strong>Birth/Naturalization –</strong> Born in Hungary or naturalized within Hungary; effectively, becomes a passport holder. Note that in any situation of naturalization without becoming a Passport Holder this would be part of the limitation on Non-Passport holders stated at the end of this page.</p>
		<p><strong>Parents –</strong> One or both parents, adoptive parents, or step-parents born in Hungary.  Note that if not a Passport Holder, then this would be part of the limitation on Non-Passport holders.</p>
		<p><strong>Grandparents –</strong> One or more birth / adoptive grandparents born in Hungary.  Note that if not a Passport Holder, then this would be part of the limitation on Non-Passport holders.  Note that step-grandparents are not acceptable.</p>
		<p><strong>Marriage –</strong> Spouse being born in Hungary with the qualification that both the spouse and player-candidate must be resident in Hungary.  This criteria relates to accepted marriage in the context of a civil or religious ceremony. “Common law” situations and/or partnerships without such formal acceptance (and hence supporting documentation) will not be accepted. In the event of death of the spouse, this would not prevent the individual from qualifying by this criteria. Divorce from the spouse would disqualify the individual from qualifying by this criteria. Note that if not a Passport Holder, then this would be part of the limitation on Non-Passport holders.</p>
		<p><strong>Residence –</strong> Minimum two year period of residential qualification will be acceptable. Note that if not a Passport Holder, then this would be part of the limitation on Non-Passport holders.</p>
		
		<hr>

		<h3><strong>Limitation on Non-Passport Holders<strong></h3>

		<p>Any squad for a specific Federation of International Lacrosse (FIL) sanctioned event shall have at least 85% (in all cases rounded downwards) of the playing squad qualifying through the possession of a passport of Hungary. Qualification by other than possessing a Hungarian passport – through birth/naturalization, parents, grandparents, marriage, or residency, as defined above – will be limited to 15% on all cases rounded upwards.  As an example, in the case of the men’s field game this would be 85% of a playing squad of 23 players, which is 19.55 rounded down to 19.  Consequently the maximum number of non-passport holders would be 4.</p>
	</div>	
</div>