<% title "Men's National Team" %>
<% content_for :head_top do %>
	<meta charset="UTF-8">
	<meta name="description" content="Staff and Roster for the Mens National Team">
	<meta name="keywords" content="National, Team, Hungary, Coaches, Players, Roster">
<% end %>
<% content_for :head_end do %>
<% end %>
<% content_for :body_top do %>
<% end %>
<% content_for :body_end do %>
<% end %>

<div class="container">
	<div class="jumbotron" id="mensnationalteam">
		<h2 class="section-title"><%= yield(:title) %></h2>
		<hr>
		<%= render "/staffs/index.html.erb" %>
		<%= render "/players/index.html.erb" %>
	</div>
</div>	